<div calss="preview">
  <div class="current-features">
    <h3>Current Features</h3>
    <div class="slideshow-container">

      <div class="mySlides1 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/feature-household.jpg" style="width:100%">
        <div class="text">Create and/or join a household</div>
      </div>

      <div class="mySlides1 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/feature-make-chore.jpeg" style="width:100%">
        <div class="text">Create chores</div>
      </div>

      <div class="mySlides1 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/feature-claim.jpg" style="width:100%">
        <div class="text">Claim unclaimed chores</div>
      </div>

      <div class="mySlides1 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/feature-your-chore.jpg" style="width:100%">
        <div class="text">View your chore list</div>
      </div>

      <div class="mySlides1 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/feature-complete.jpg" style="width:100%">
        <div class="text">Complete your chores</div>
      </div>

      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>

    </div>
  </div>
  <div class="upcoming-features">
    <h3>Upcoming Features</h3>
    <div class="slideshow-container">

      <div class="mySlides2 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/upcoming-cost-split.jpg" style="width:100%">
        <div class="text">Split chore cost on completion</div>
      </div>

      <div class="mySlides2 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/upcoming-review.jpg" style="width:100%">
        <div class="text">Review completed chores</div>
      </div>

      <div class="mySlides2 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/upcoming-calendar.jpg" style="width:100%">
        <div class="text">Calendar integration</div>
      </div>

      <div class="mySlides2 fade">
        <img src="https://s3.amazonaws.com/chore-mates-development/defaults/upcoming-economy-trading.jpg" style="width:100%">
        <div class="text">Chore economy and trading!</div>
      </div>

      <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>

    </div>
  </div>
<div>
