@import './constants';

.button {
  background-color: $button-background;
}

.actions, .button_to {
  input {
    color: $button-text;
    background-color: $button-background;
    border: none;
    padding: 10px;
    font-size: 12px;
  }

  input:hover, input:focus {
    color: $hover-text;
    background-color: $hover-background;
    outline: none;
  }
}
