@import './constants';

.scroll{
  background-color: $light-blue;
  margin-top: 2%;
  margin-bottom: 5%;
  height: 450px;
  // margin: auto;
  // width: 70%;
  // max-width: 600px;
  overflow-y: scroll;
}

// .button {
//   background-color: $button-background;
// }

.box {
  padding: 10px 10px 10px 10px;
  border-color: $border-color;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  margin: auto;
  width: 60%;
  max-width: 700px;
}

body {
  background: url(https://s3.amazonaws.com/chore-mates-development/defaults/background-image-smaller.jpg)
  no-repeat
  center
  fixed
  ;
  background-size: cover;
}

// User Registration and Sign-in
.form, .new-chore {
  padding: 0 10px 10px 10px;
  background-color: $light-blue;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  margin-top: 15px;
}

h2.form-header {
  font-size: 20px;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bold;
  // color: ;
  // font-family: ;
}

.shared-links {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.link {
  // display: inline-block;
  margin-right: 1em;
}

.house-header, .chore-header {
  padding: 10px 10px 10px 10px;
  border-color: $border-color;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  margin: auto;
  width: 60%;
  max-width: 700px;
  background-color: $light-blue;
  margin-top: 2%;
}
.house-tile {
  // display: flex;
  // justify-content: flex-start;
  background-color: $tile-background;
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border-width: medium;
  box-shadow: 10px 5px 5px lightslategrey;
}
.password-join, .div-date {
  display: flex;
  // width: 100%;
  justify-content: space-between;
}

#chore_due_1i, #chore_due_2i, #chore_due_3i {
  width: 25%;
}

.house-join {
  width: 50%;
}

.join-button {
  margin-top: 10px;
  // height: 40px;
}

.chore-tile {
  background-color: $tile-background;
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border-width: medium;
  box-shadow: 10px 5px 5px lightslategrey;
}
