@import './constants';

.top-bar {
  // background-color: $border-color;
  height: 65px;
  padding: 10px 10% 0 10%;
}

.flash-errors {
  margin: auto;
  width: 40%;
  text-align: center;
  margin-top: 1%;
  font-size: 1rem;
}

.chore-image {
  float: right;
  max-width: 40%;
  max-height: 200px;
  padding: 0 0 0px 0;
  border-width: 5px;
  border-color: black;
  border-style: double;
}

.chore-text {
  max-width: 50%
}

.scroll{
  background-color: $light-blue;
  margin-top: 2%;
  margin-bottom: 5%;
  height: 450px;
  // margin: auto;
  // width: 70%;
  // max-width: 600px;
  overflow-y: scroll;
}

.box {
  padding: 10px 10px 10px 10px;
  border-color: $border-color;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  margin: auto;
  width: 60%;
  max-width: 700px;
}

body {
  background: url(https://s3.amazonaws.com/chore-mates-development/defaults/background-image-smaller.jpg)
  no-repeat
  center
  fixed
  ;
  background-size: cover;
}

// User Registration and Sign-in
.form, .new-chore {
  padding: 0 10px 10px 10px;
  background-color: $light-blue;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  margin-top: 15px;
  border-width: medium;
  border-color: $border-color;
  border-style: solid;
}

h2.form-header {
  font-size: 20px;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bold;
  // color: ;
  // font-family: ;
}

.shared-links {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.link {
  // display: inline-block;
  margin-right: 1em;
}

.house-header, .chore-header {
  padding: 10px 10px 10px 10px;
  border-color: $border-color;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  margin: auto;
  width: 60%;
  max-width: 700px;
  background-color: $light-blue;
  margin-top: 2%;
}

.house-header {
  .join {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 0;
  }
}

.header-buttons {
  display: flex;
  justify-content: space-between;
}
.house-tile {
  // display: flex;
  // justify-content: flex-start;
  background-color: $tile-background;
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border-width: medium;
  box-shadow: 10px 5px 5px lightslategrey;
}
.password-join, .div-date {
  display: flex;
  // display: inline-table;
  justify-content: space-between;
  // vertical-align: middle;
}

.div-date {
  .date {
    width: 100%;
  }
  .cost {
    width: 50%;
  }
}

label {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

// .div-date label {
//   padding-top: 5px;
//   display: inline-table;
//   vertical-align: middle;
// }

#chore_due_1i, #chore_due_2i, #chore_due_3i {
  width: 25%;
}

.house-join {
  width: 50%;
}

.join-button {
  margin-top: 10px;
  // height: 40px;
}

.chore-tile {
  background-color: $tile-background;
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border-width: thin;
  border-color: black;
  border-style: solid;
  box-shadow: 10px 5px 5px lightslategrey;
  overflow: hidden;
}

.button {
  background-color: $button-background;
  border-radius: 5px !important;
  box-shadow: 5px 5px 5px lightslategrey;
  margin: 0 5px 0 5px;
  &:focus {
    color: $hover-text;
    background-color: $button-background;
    outline: none;
  }
  &:hover {
    color: $hover-text;
    background-color: $hover-background;
    outline: none;
  }
  &:active {
    color: $hover-text;
    background-color: $hover-background;
    outline: none;
  }
}

.selected {
  background-color: $hover-background;
  &:focus {
    color: $hover-text;
    background-color: $hover-background;
    outline: none;
  }
  &:hover {
    color: $hover-text;
    background-color: $hover-background;
    outline: none;
  }
}

.current-features, .upcoming-features {
  padding: 10px 10px 10px 10px;
  border-color: $border-color;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  margin: auto;
  width: 30%;
  max-width: 700px;
  min-width: 450px;
  background-color: $light-blue;
  margin-top: 2%;
  align-self: center;
  align-items: center;
  align-content: center;
    h3 {
      text-align: center;
    }
    ul {
      font-size: 1.2rem;
    }
}
